
  <!-- Form add new coffee-shop -->
  <div class="row" style="margin-top: 20px;">
    <div class="form-group col-sm-6">
      <label for="title">Title</label>
      <input id="title" type="text" class="form-control" ng-model="shop.title" placeholder="Type new coffee's title" required >
    </div>

    <div class="form-group col-sm-6">
      <label for="address">Address</label>
      <input id="address" type="text" class="form-control" ng-model="shop.address" placeHolder="Type new coffee's address"/>
    </div>

    <div class="form-group col-sm-6">
      <div class="col-sm-6" style="margin-left: -15px;">
        <label for="timesOpen">Open Times </label>
        <input id="timesOpen" type="datetime" class="form-control" value="{{shop.timesOpen}}" ng-model="shop.timesOpen">
      </div>
      <div class="col-sm-6" style="margin-left: 30px; margin-right: -15px;">
        <label for="timesClose">Close Times </label>
        <input id="timesClose" type="datetime" class="form-control" value="{{shop.timesClose}}" ng-model="shop.timesClose">
      </div>
    </div>

    <div class="form-group col-sm-6">
      <label for="country">Country</label>
      <select id="country" class="form-control" ng-model="shop.locate.country">
        <option value="vn" checked="checked" >VietNam</option>
        <option value="ca">Canada</option>
        <option>...</option>
      </select>
    </div>

    <div class="form-group col-sm-6">
      <label for="phone">Phone</label>
      <input id="phone" type="text" class="form-control" ng-model="shop.phone" placeHolder="Type new coffee's phone"/>
    </div>

    <div class="form-group col-sm-6">
      <label for="city">City</label>
      <select id="city" class="form-control ui-widget" ng-model="shop.locate.city">
        <option>Da Nang</option>
        <option>Ha Noi</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <!-- The same results -->
  <div id="theSameShops" class="row" ng-show="false">
    <div class="col-sm-12">
      <h2>The shop is similar</h2>
      <coffee-shop-similar class="repeated-item" ng-repeat="shop in theSameShops | firstLetterFilter:shop.key.title"/>
    </div>
  </div>

  <!-- Google map -->
  <map zoom="18" 
    center="[{{currentShop.locate.latitude}}, {{currentShop.locate.longitude}}]" 
    on-click="getCoordinates(data)" 
    draggable-cursor="crosshair"
    max-zoom="20"
    min-zoom="12">
    <marker
      position="[{{shop.locate.latitude}}, {{shop.locate.longitude}}]"
      title="New shop"
      animation="Animation.BOUNCE"
      draggable="true"
      visible={{isChangeLocate}}
      icon="images/beachflag-coffee-new.png"
      >
    </marker>
    <shape 
      name="circle" 
      stroke-color='#FF0000'
      stroke-opacity="1"
      stroke-weight="1" 
      center="[{{shop.locate.latitude}}, {{shop.locate.longitude}}]" 
      radius="1" 
      visible={{isChangeLocate}}
      editable="false" />

    <marker
      position="[{{currentShop.locate.latitude}}, {{currentShop.locate.longitude}}]"
      title="{{currentShop.title}}"
      animation="Animation.BOUNCE"
      draggable="true"
      visible="true"
      icon="images/beachflag-coffee.png">
    </marker>
    <!-- <shape 
      id="image" 
      name="image" 
      url="images/coffee-shop-icon.png"
      bounds="[[{{currentShop.locate.latitude - 0.00004}}, {{currentShop.locate.longitude - 0.00007}}],[{{currentShop.locate.latitude - (-0.00007)}}, {{currentShop.locate.longitude - (-0.00007)}}]]" 
      opacity="0.7" 
      clickable="true" >
    </shape>  -->
    <shape 
      name="circle" 
      stroke-color='#FF0000'
      stroke-opacity="1"
      stroke-weight="1" 
      center="[{{currentShop.locate.latitude}}, {{currentShop.locate.longitude}}]" 
      radius="1" 
      editable="false" />
  </map>

  <div class="row" style="margin-top: 20px;">
    <div class="form-group col-sm-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Menu</div>
        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Item</th>
              <th>Price</th>
              <th>Currency</th>
            </tr>
          </thead>
          <tbody>
            <tr class="repeated-item menu-item" ng-repeat="(key, info) in shop.menu"></tr>
          </tbody>
        </table>
        <button class="btn btn-primary col-sm-1 col-md-1" ng-click="addNewMenuItem()" style="float: right;">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>
    </div> <!-- End of Menu -->

    <!-- Submit -->
    <div class="form-group col-sm-12 col-md-12">
      <button class="btn col-sm-12 col-md-12" ng-click="updateShop()" ng-class="{'btn-success': isChanged, 'btn-private': !isChanged}">Save</button>
    </div>
  </div>

  <!-- <div id="map-canvas" style="height: 300px"></div> -->
